{% extends 'base.html.twig' %}

{% block body_wrapper %}
    <body class="d-flex flex-column h-100 text-center text-bg-dark">
    {{ block('body') }}
    </body>
{% endblock %}

{% block body %}
    <header class="p-3 l__header mb-3">
        <div class="d-flex justify-content-between ms-5 me-5">
            <h1 class="h2 mb-0">Guardian - {{ APP_VERSION }}</h1>

            <div class="text-end">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('admin') }}" class="btn btn-warning">Espace d'administration ({{ app.user.email }})</a>
                {% else %}
                    <a href="{{ path('admin') }}" class="btn btn-warning">Espace d'administration</a>
                {% endif %}
            </div>
        </div>
    </header>
    <section class="d-flex flex-column h-100 flex-grow-1">
        <div class="homepage__container container p-3">
            {{ block('content') }}
        </div>
    </section>
    <footer class="p-3 l__footer">
        <div class="d-flex gap-3 justify-content-between">
            {{ _self.grade('A', 'Aucune vulnérabilité') }}
            {{ _self.grade('B', 'Fichier de dépendence incorrect') }}
            {{ _self.grade('C', 'Au moins une des version (PHP / Symfony) n\'est plus supportée') }}
            {{ _self.grade('D', 'Au moins une vulnérabilité non critique') }}
            {{ _self.grade('E', 'Au moins une vulnérabilité critique') }}
        </div>
    </footer>
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap gap-3">
        {% for project in projects %}
            {% set grade = project.lastGrade %}
            {% set borderColor = {
                'A': 'success',
                'B': 'warning',
                'C': 'warning',
                'D': 'danger',
                'E': 'danger',
            }[grade]|default('warning') %}

            <div class="card border-{{ borderColor }}" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="c-grade c-grade--{{ grade|default('unknown')|lower }}" aria-current="true">{{ grade|default('?') }}</span>
                        {{ project.alias }}
                    </h5>
                    <div class="card-text d-flex flex-column align-items-baseline">
                        <div class="">
                            <span>Dernière analyse : </span>
                            <strong>{{ project.lastAnalysis.runAt|default ? project.lastAnalysis.runAt|date('d/m/Y à H:i') : 'N/D' }}</strong>
                        </div>
                        <div>
                            <span>Vulnérabilités :</span>
                            {% set cve = project.lastVulnerabilitiesCount %}
                            {% if cve is null %}
                                <span class="badge text-bg-warning rounded-pill">Analyse non réalisée</span>
                            {% elseif cve == 0 %}
                                <span class="badge text-bg-success rounded-pill">Aucune</span>
                            {% else %}
                                <span class="badge text-bg-danger rounded-pill"><i class="fas fa-exclamation-triangle fa-fw"></i>&nbsp;{{ cve }} vulnérabilités</span>
                            {% endif %}
                        </div>

{#                        TODO - Gerer l'affichage en fonction de l'état de la version #}
{#                        <div class="d-flex flex-row w-100 gap-3 mt-3">#}
{#                            <span class="badge text-bg-secondary rounded-pill">#}
{#                                PHP {{ project.lastAnalysis.platform.php|default('non installé') }}#}
{#                            </span>#}
{#                            <span class="badge text-bg-secondary rounded-pill">#}
{#                                Symfony {{ project.lastAnalysis.platform.symfony|default('non installé') }}#}
{#                            </span>#}
{#                        </div>#}
                    </div>

                    <div class="mt-3 d-flex flex-row-reverse justify-content-between">
                        {% if project.gitUrl is not null %}
                            <a href="{{ project.gitUrl }}" class="">Voir le repository</a>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and project.lastAnalysis %}
                            <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\Crud\\AnalysisCrudController')
                                .setAction('detail')
                                .setEntityId(project.lastAnalysis.id)
                            }}" class=""><i class="fas fa-eye fa-fw"></i>&nbsp;Voir la dernière analyse</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% macro grade(grade, description) %}
    <div>
        <span class="c-grade c-grade--{{ grade|lower }}" aria-current="true">{{ grade }}</span>
        <span>{{ description }}</span>
    </div>
{% endmacro %}




