{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_class 'page-content ea-content-width-full' %}
{% block content_title %}Guardian{% endblock %}

{# project \App\Entity\Project #}
{% block main %}

    {# Projects #}
    <h5>Projets :</h5>
    <div class="d-flex flex-wrap gap-3 mb-3">
        {% for project in projects %}
            {% set grade = project.lastGrade %}
            {% set borderColor = {
                'A': 'success',
                'B': 'warning',
                'C': 'warning',
                'D': 'danger',
                'E': 'danger',
            }[grade]|default('warning') %}

            <div class="card border-{{ borderColor }}" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="c-grade c-grade--{{ grade|default('unknown')|lower }} me-2" aria-current="true">{{ grade|default('?') }}</span>
                        {{ project.name }}
                    </h5>
                    <div class="card-text">
                        <div>Dernière analyse : <strong>{{ project.lastAnalysis.runAt|default ? project.lastAnalysis.runAt|date('d/m/Y à H:i') : 'N/D' }}</strong></div>

                        <table class="c__tablelist">
                            <tr>
                                <td><i class="fas fa-bug fa-fw"></i>&nbsp;Vulnérabilités :</td>
                                <td>
                                    {% set cve = project.lastVulnerabilitiesCount %}
                                    {% if cve is null %}
                                        <span class="badge badge-warning">Analyse non réalisée</span>
                                    {% elseif cve == 0 %}
                                        <span class="badge badge-success">Aucune</span>
                                    {% else %}
                                        <span class="badge badge-danger"><i class="fas fa-exclamation-triangle fa-fw"></i>&nbsp;{{ cve }} vulnérabilités</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% set platform = project.lastAnalysis.platform|default %}
                            <tr>
                                <td><i class="fab fa-php fa-fw" aria-description="PHP"></i>&nbsp;PHP :</td>
                                <td>
                                    {% if platform.php|default %}
                                        {% if platform.isPhpExpired %}
                                            <span class="badge badge-warning"
                                                  title="Expiré le {{ platform.phpInfos.eol ? platform.phpInfos.eol|date('d/m/Y') : 'N/D' }}"
                                            >
                                                    <i class="fas fa-exclamation-triangle fa-fw"></i>&nbsp;
                                                    {{ platform.php }} (obsolète)
                                                </span>
                                        {% else %}
                                            <span class="badge badge-success">
                                                    {{ platform.php }}
                                                </span>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge badge-secondary">
                                                Non installé
                                            </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-symfony fa-fw" aria-description="Symfony"></i>&nbsp;Symfony :</td>
                                <td>
                                    {% if platform.symfony|default %}
                                        {% if platform.isSymfonyExpired %}
                                            <span class="badge badge-warning"
                                                  title="Expiré le {{ platform.symfonyInfos.eol ? platform.symfonyInfos.eol|date('d/m/Y') : 'N/D' }}"
                                            >
                                                    <i class="fas fa-exclamation-triangle fa-fw"></i>&nbsp;
                                                    {{ platform.symfony }} (obsolète)
                                                </span>
                                        {% else %}
                                            <span class="badge badge-success">
                                                {{ platform.symfony }}
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge badge-secondary">
                                                Non installé
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="mt-3 d-flex flex-row justify-content-between">
                        {% if project.lastAnalysis %}
                            <a href="{{ ea_url()
                                .setController('App\\Controller\\Admin\\Crud\\AnalysisCrudController')
                                .setAction('detail')
                                .setEntityId(project.lastAnalysis.id)
                            }}" class=""><i class="fas fa-eye fa-fw"></i>&nbsp;Voir la dernière analyse</a>
                        {% endif %}
                        <a href="{{ ea_url()
                            .setController('App\\Controller\\Admin\\Crud\\ProjectCrudController')
                            .setAction('detail')
                            .setEntityId(project.id)
                        }}" class=""><i class="fas fa-arrow-right fa-fw"></i>&nbsp;Voir le projet</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Credentials #}
    <h5>Identifiants :</h5>
    <div class="d-flex flex-wrap gap-3 mb-3">
        {% for credential in credentials %}

            <div class="card border-{{ credential.isExpired ? 'danger' : 'success' }}" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span><i class="fas fa-key fa-fw"></i>&nbsp;{{ credential.name|upper }}</span>
                    </h5>

                    <div class="mt-3 d-flex flex-row justify-content-between">
                        <a href="{{ ea_url()
                            .setController('App\\Controller\\Admin\\Crud\\CredentialCrudController')
                            .setAction('detail')
                            .setEntityId(credential.id)
                        }}" class=""><i class="fas fa-arrow-right fa-fw"></i>&nbsp;Voir l'identifiant</a>

                        {% if credential.isExpired %}
                            <span class="text-danger"><i class="fas fa-times-circle fa-fw"></i>&nbsp;Expiré</span>
                        {% else %}
                            <span class="text-success"><i class="fas fa-check-circle fa-fw"></i>&nbsp;OK</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h5>Canaux de notification :</h5>
    <div class="d-flex flex-wrap gap-3 mb-3">
        {% for channel in channels %}
            <div class="card border-{{ channel.isWorking ? 'success' : 'danger' }}" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span><i class="fas fa-key fa-fw"></i>&nbsp;{{ channel.name|upper }}</span>
                    </h5>

                    <div class="mt-3 d-flex flex-row justify-content-between">
                        <a href="{{ ea_url()
                            .setController('App\\Controller\\Admin\\Crud\\NotificationChannelCrudController')
                            .setAction('detail')
                            .setEntityId(channel.id)
                        }}" class=""><i class="fas fa-arrow-right fa-fw"></i>&nbsp;Voir le canal de notification</a>

                        {% if not channel.isWorking %}
                            <span class="text-danger"><i class="fas fa-times-circle fa-fw"></i>&nbsp;Expiré</span>
                        {% else %}
                            <span class="text-success"><i class="fas fa-check-circle fa-fw"></i>&nbsp;OK</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
